html {
  font-size: 10px;
}
//take out before proxy, so refactor to find right sizing

body {
  margin: 0;
  margin-top: 5rem;
}
.descriptionWrapper {
  @import url('https://fonts.googleapis.com/css?family=Domine|Roboto:400,700&display=swap');

  font-size: 1.6rem;
  font-family: Roboto;
  color: #292b2c;
  .description-title{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: Domine;
  }
  .description-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .description-features {
      line-height: 1.5;
    }

    .description-tech-specs {
      .tech-title {
        font-size: 2.133rem;
        font-family: Domine;
        // font-weight: 600;
      }

      .description-table {
        tr:nth-child(even) {background-color: #f2f2f2;}
      }
    }

  }

  .overview-container {
    background-color: #EFEEE2;

    .overview-quote {
      display: flex;
      justify-content: center;
      font-family: Domine;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.333;
      padding: 4rem;
      text-align: center;
    }
    
    .overview-specs {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid grey;
      padding: 3rem;
    }

    .os-title {
      font-family: Domine;
      font-size: 1.3rem;
      padding: .2rem .75rem;
      border-bottom: 2px solid #666;
      // text-align: center;
    }

    .os-item {
      text-align: center;
    }

    .os-value {
      margin-top: .75rem;
      font-size: 2rem;
      font-family: Domine;
    }
  }

  .sizeChart-container {
    padding-left: 100px;
    margin-bottom: 4rem;
    table {
      border-collapse: separate;
      border-spacing: 0;
      border-top: 1px solid grey;
    }

    td {
      margin: 0;
      border: 1px solid grey;
      white-space: nowrap;
      border-top-width: 0px;
    }

    div {
      width: 500px;
      overflow-x: scroll;
      margin-left: 5em;
      padding: 10;
    }

    .headlong {
      font-weight: bold;
    }

    .headcol {
      position: absolute;
      margin-left: 100px;
      font-weight: bold;
      width: 5em;
      left: 0;
      top: auto;
      border-top-width: 1px;
      /*only relevant for first row*/
      margin-top: -1px;
      /*compensate for top border*/
    }

    .long {
      background: white;
      // letter-spacing: 1em;
    }
  }
}