// body {
//   margin: 0;
//   margin-top: 5rem;
// }
.descriptionWrapper {
  @import url('https://fonts.googleapis.com/css?family=Domine|Roboto:400,700&display=swap');
  
  font-size: 16px;
  font-family: Roboto;
  color: #292b2c;

  .description-title{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    color: #2e2e2e;
    font-family: Domine;
    font-weight: bold;
  }
  .description-container {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    font-size: .9em;

    .description-features {
      line-height: 1.5;
      margin-right: 4%;
      h2 {
        font-family: Domine;
      }
    };

    .description-tech-specs {
      .tech-title {
        font-family: Domine;
      }

      .description-table {
        tr:nth-child(even) {background-color: #f2f2f2;}
        line-height: 1.8em;
        padding: .25em;
        td{
          padding-right: .5em;
        }
      }
    }

  }

  .overview-container {
    background-color: #EFEEE2;

    .overview-quote {
      display: flex;
      justify-content: center;
      font-family: Domine;
      font-size: 1.1em;
      font-weight: 700;
      line-height: 1.333;
      padding: 2.5em;
      text-align: center;
      line-height: 1.5em;
    }
    
    .overview-specs {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid grey;
      padding: 2em;
    }

    .os-title {
      font-family: Domine;
      font-size: .75em;
      padding: .2em .75em;
      border-bottom: 2px solid #666;
    }

    .os-item {
      text-align: center;
    }

    .os-value {
      margin-top: .75em;
      font-size: 1.2em;
      font-family: Domine;
    }
  }

  .size-chart-title {
    font-size: 1.3em;
    margin-left: 8%;
    font-family: Domine;
  }

  .sizeChart-container {
    margin-bottom: 4em;
    color: #292A2B;
    font-size: .9em;
    display: flex;
    justify-content: center;
      
    .sizeChart-wrap {
      border: 1px solid #DDDDDD;
      display: flex;
      flex-direction: row;
      width: 83%
    }

    .header-table {
      border-collapse: separate;
      border-spacing: 0;
      
      .headcol {
        font-weight: bold;
        border-right: 5px solid #CCCCCC;
        border-spacing: 0;
        border-collapse: separate;
      }
    }
      
    .shoeSizes-table {
      border-collapse: separate;
      border-spacing: 0;
      tr:nth-child(2n) {background-color: #F9F9F9;}
    }
    
    .scroll-div {
      overflow-x: scroll;
      overflow-y: hidden;
    }
    
    .headlong {
      font-weight: bold;
      border-bottom: 2px solid #DDDDDD;
    }

    td {
      margin: .25em;
      border: 1px solid #DDDDDD;
      white-space: nowrap;
      border-top-width: 0px;
      border-left-width: 0px;
      height: 50px;
      min-width: 156px;
      text-indent: 1em;
    }

  }
}